@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-btn {
    @apply bg-primary text-white cursor-pointer hover:bg-primary/80 px-4 py-2 rounded-lg my-3;
  }

  .outline-btn {
    @apply ring-2 ring-primary inset-0 transition-colors duration-300 text-primary cursor-pointer hover:bg-primary hover:text-white px-4 py-2 rounded-lg my-3;
  }
}


@layer utilities {
  .yellow {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 250px;
    height: 250px;
    background: #f5a623;
    border-radius: 50%;
  }

  .img-shadow {
    filter: drop-shadow(0px 10px 250px #f9b12b);
  }
}